

.myFlame{
    z-index: 1;
    margin:-263px 0px 0px 137px;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(135deg) scale(1.5,1.5);
}

.flame-yellow{
    left:15px;
    width: 30px;
    height: 30px;
    background:OrangeRed;
    box-shadow: 0px 0px 0px 0px OrangeRed;
}

.flame-orange{
    left:10px;
    width: 40px;
    height: 40px;
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
}

.flame-red{
    left:5px;
    width: 50px;
    height: 50px;
    background:OrangeRed;
    box-shadow: 0px 0px 0px 4px OrangeRed;
}

.flame-white{
    left: 18px;
    bottom: 7px;
    width: 24px;
    height: 24px;
    background:gold;
    box-shadow: 0px 0px 0px 0px gold;
}

.flame-circle{
    border-radius: 50%;
    position:absolute;
}

.flame-blue{
    width: 10px;
    height: 10px;
    left:25px;
    bottom:55px;
    background: SlateBlue;
    box-shadow: 0px 0px 15px 10px SlateBlue;
}

.flame-black{
    width: 40px;
    height: 40px;
    left:10px;
    bottom:64px;
    background: black;
    box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
}